@model KonutViewModel
@{
    ViewBag.Title = "Yeni İlan Ekle";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<script src="~/Script/ckeditor/ckeditor.js"></script>
<div class="container">
    <h3 class="text-center">İlan Ekle</h3>
    <div class="col-md-6">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Ekle", "Ilan", FormMethod.Post, new
        {
            @class = "form-horizontal",
            enctype = "multipart/form-data"
        }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Baslik, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Fiyat, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control", type = "number" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Adres, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.IlanTuruID, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.IlanTuruID, (List<SelectListItem>)ViewBag.ilanturleri, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.KatTuruID, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.KatTuruID, (List<SelectListItem>)ViewBag.katturleri, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.IsitmaTuruID, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.IsitmaTuruID, (List<SelectListItem>)ViewBag.isinmaturleri, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.OdaSayisi, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.OdaSayisi, new { @class = "form-control", type = "number" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.BinaYasi, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.BinaYasi, new { @class = "form-control", type = "number" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Metrekare, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Metrekare, new { @class = "form-control", type = "number" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Aciklama, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
                </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Enlem, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Enlem, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Boylam, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Boylam, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="galeri" class="control-label">Fotoğraflar</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Dosyalar, new { multiple = "multiple", @class = "form-control", type = "file" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">İlanı Ekle</button>
                    </div>
                </div>
        }
    </div>
    <div class="col-md-6">
        <div class="row">
            <div id="harita"></div>
            <input type="button" id="btnkonum" value="Konum Getir" class="btn btn-primary" />
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.1.1.js"></script>

<script>
    $("#btnkonum").click(function () {
        navigator.geolocation.getCurrentPosition(koordinat);
    });
    function koordinat(position) {
        var enlemboylam = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        var ayar = {
            center: enlemboylam,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: true,
            navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL }
        };
        var haritatutucu = document.getElementById("harita");
        var googleHarita = new google.maps.Map(haritatutucu, ayar);
        var imlec = new google.maps.Marker({
            //position: enlemboylam,
            map: googleHarita,
            title: "Konumunuz"
        });
        googleHarita.addListener("click", function () {
            imlec.setMap(null);
        });
        googleHarita.addListener("click", function (e) {
            placeMarkerAndPanTo(e.latLng, googleHarita);
        });
        function placeMarkerAndPanTo(latLng, map) {
            imlec = new google.maps.Marker({
                position: latLng,
                map: map
            });
            $("#Enlem").val(latLng.lat());
            $("#Boylam").val(latLng.lng());
        };
    };
    function init() {
        navigator.geolocation.getCurrentPosition(koordinat);
    };
    init();
    CKEDITOR.replace("Aciklama", {
        uiColor: '#fc7f7f'
    });
</script>
<style>
    #harita {
        width: 100%;
        height: 400px;
        background-color: #fc7f7f;
    }
</style>
