@model LoginAndRegisterViewModel
@{
    ViewBag.Title = "Kullanıcı Girişi";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<div class="container">
    <section class="site">
        <header class="site__header">
            <h1 class="site__title">Giriş</h1>
            <h2 class="site__headline">Kullanıcı adınızı ve şifrenizi yazınız</h2>
        </header>
        <div class="auth auth--inline">
            <div class="auth__wrap auth__wrap--login">
                <!-- BEGIN AUTH LOGIN-->
                <h5 class="auth__title">Kullanıcı Girişi</h5>
                @Html.ValidationSummary()
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "auth__form js-login-form js-parsley" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="auth__row form-group">
                        @Html.LabelFor(x => x.Login.Username, new { @class = "auth__label control-label" })
                        @Html.TextBoxFor(x => x.Login.Username, new { @class = "auth__in auth__in--text form-control" })
                    </div>
                    <div class="auth__row auth__row--password form-group">
                        @Html.LabelFor(x => x.Login.Password, new { @class = "auth__label control-label" })
                        @Html.TextBoxFor(x => x.Login.Password, new { @class = "auth__in auth__in--text form-control", type = "password" })
                    </div>
                    <div class="auth__row">
                        <a href="@Url.Action("RecoverPassword","Account")" class="auth__forgot">Şifremi Unuttum?</a>
                        <button type="submit" class="auth__in auth__in--submit">Giriş Yap</button>
                        <span class="form-group">
                            Beni Hatırla
                            @Html.CheckBoxFor(x => x.Login.RememberMe, new { @class = "form-control" })
                        </span>

                    </div>
                    <div class="auth__row"><span class="auth__links">Hesabın yok mu?<a href="@Url.Action("Register","Account")">Yeni Hesap al</a></span></div>
                }

                <!-- end of block .auth__form-->
                <!-- END AUTH LOGIN-->
            </div>
        </div>
    </section>

</div>